
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content1" class="dh">
    @{Html.RenderAction("MenuType", "Home");}
    <br>
    @{ Html.RenderAction("Product", "Home");}
</div>


